/* base.css */
body {
  font-family: 'Roboto', sans-serif;
  background-color: var(--background-color);
  color: var(--text-color);
  margin: 0;
  padding: 0;
}
  
section {
  max-width: 800px;
  margin: 20px auto;
  background: var(--section-background-color);
  border-radius: 8px;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
  
  
@media screen and (max-width: 768px) {
  section {
    width: 80%;
  }
}
